@using WebApp.Models.ViewModels
@model SearchVM

@{
    ViewData["Title"] = "Index";
    var skillSetList = ViewBag.SkillSets;
    var projectTypes = ViewBag.ProjectTypes;
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().Idproject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().ProjectTypeName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Projects)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Idproject)
                </td>
                <td>
                    @Html.ActionLink(item.Title, "Details", new { id = item.Idproject }, new { @class = "" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <h5><span class="badge bg-primary">@item.ProjectTypeName</span></h5>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav>
    <ul class="pagination">
        @for (int i = Model.FromPager; i <= Model.ToPager; i++)
        {
            var linkText = @i.ToString();
            if (i != 1 && i == Model.FromPager)
            {
                linkText = "«";
            }
            else if (i != Model.LastPage && i == Model.ToPager)
            {
                linkText = "»";
            }

            var linkClass = "page-item";
            if (i == Model.Page)
            {
                linkClass = "page-item active";
            }
            <li class="@linkClass">
                <a asp-action="Search"
                   asp-route-q="@Model.Q"
                   asp-route-orderBy="@Model.OrderBy"
                   asp-route-page="@i"
                   asp-route-size="@Model.Size"
                   class="page-link">@linkText</a>
            </li>
        }
    </ul>
</nav>
