@using WebApp.Models.ViewModels
@model ProjectVM

@{
    ViewData["Title"] = "Details";
    var skillSetList = ViewBag.SkillSet;
}

<h3>@Html.DisplayFor(model => model.Title)</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Idproject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Idproject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectTypeName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SkillSets)
        </dt>
        <dd class="col-sm-10">
            @foreach (var skillSet in Model.SkillSets)
            {
                <div>
                    @Html.DisplayFor(modelItem => (skillSetList as List<SkillSetVM>).Find(x => x.IdskillSet == skillSet).Name)
                </div>
            }
        </dd>
        <dt class="col-sm-2">
            Volunteers
        </dt>
        <dd class="col-sm-10">
            @foreach (string user in ViewBag.RelatedUsers)
            {
                <div>
                    @Html.DisplayFor(modelItem => user)
                </div>
            }
        </dd>
    </dl>

    <form>
        <a asp-action="AdminSearch" class="btn btn-outline-primary">Back to List</a>
    </form>
</div>
