@using WebApp.Models.ViewModels
@model ProjectVM

@{
    ViewData["Title"] = "Details";
    var skillSetList = ViewBag.SkillSet;
}

<div class="d-inline-flex align-middle">
    <h3>@Html.DisplayFor(model => model.Title)  </h3>
    <div class="align-self-center ms-2">
        <h5>- @Html.DisplayFor(model => model.ProjectTypeName)</h5>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-8">
        <p class="border-dark border-bottom pb-2" style="text-align: justify;">
            @Html.DisplayFor(model => model.Description)
        </p>
        <form>
            <a asp-action="Search" class="btn btn-outline-primary">Back to List</a>
        </form>
    </div>

    <div class="col-md-4 border-start border-dark">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.PublishDate)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.PublishDate)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
        </dl>
        <hr />
        <div class="border-dark border-bottom">
            <dt class="col-sm-2">
                <label asp-for="SkillSets" class="control-label text-bold"></label>
            </dt>
            <dd class="col-sm-10">
                <select asp-for="SkillSets" asp-items="ViewBag.SkillSetSelect" class="js-example-basic-multiple js-states form-control" multiple="multiple"></select>
            </dd>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#SkillSets').select2({
            disabled: true
        });
    </script>
}
